p {
	font-family:Arial;
	font-size:23;
}

body {
	background-image:https://lh4.googleusercontent.com/proxy/3u8Nv7516gBcqkK8d9wwEYTSJ1g_Rsq6xkgMXgjur5oCB41SzNfnwlUgU0qtPdnWdchAsEd-nffXyKc=s0-d;
	background-size:100% 100%;
}

h1 {
	font-family:algerian;
	font-size:55;
	color:blue;
	padding-top:20px;
}


a {
	padding-left:250px;
	color:blue;
}
