h2 {
	padding-top:20px;
	font-family:Trebuchet MS;
	font-size:60;
	color:red;
}

h3 {
	font-size:35;
	color:white;
}

p {
	font-family:arial;
	font-size:25;
}

ul {
	font-family:arial;
	font-size:25;
}

li {
	color:white;
}

a {
	color:red;
}